<nav class="navbar navbar fixed-bottom bg-light">
    <div class="container ">
      <h5 id = "copyright text-right">&copy; Copyright 2022 - Eman Shalabi - Centennial College - COMP 229 - #301248910</h5>
    </div>
</nav>